In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [39]:
df = pd.read_csv('df_final_bobot.csv')

In [40]:
df

,image_name,Building,Clothing,Door,Dress,Footwear,Furniture,Land vehicle,Plant,Sports equipment,...,Window,Pernah khawatir /pernah tidak makan,Pengeluaran pangan > 70% pengeluaran,Ada pengeluaran pakaian dalam setahun,Sebagian besar berlantai tanah,Sebagian besar berdinding bambu / kawat / kayu,Memiliki jamban sendiri,Penerangan dari listrik 450VA / bukan listrik,bobot,label
0,1.jpg,1,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,0.017083,1
1,2.jpg,1,0,0,0,0,0,0,0,0,...,0,1,1,1,1,1,1,0,0.034165,1
2,3.jpg,1,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,1,0,0.034165,1
3,4.jpg,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,0.011742,1
4,5.jpg,1,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,1,0,0.034165,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5395,2696.jpg,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0.000000,0
5396,2697.jpg,0,0,1,0,0,0,0,0,0,...,0,1,1,1,1,1,0,0,0.155799,0
5397,2698.jpg,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0.003502,0
5398,2699.jpg,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0.044896,0
5399,2700.jpg,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0.000000,0

In [12]:
df.dtypes

image_name                                         object
Building                                            int64
Clothing                                            int64
Door                                                int64
Dress                                               int64
Footwear                                            int64
Furniture                                           int64
Land vehicle                                        int64
Plant                                               int64
Sports equipment                                    int64
Tree                                                int64
Vehicle                                             int64
Wheel                                               int64
Window                                              int64
Pernah khawatir /pernah tidak makan                 int64
Pengeluaran pangan > 70% pengeluaran                int64
Ada pengeluaran pakaian dalam setahun               int64
Sebagian besar berlantai tanah                     object
Sebagian besar berdinding bambu / kawat / kayu     object
Memiliki jamban sendiri                            object
Penerangan dari listrik 450VA / bukan listrik      object
bobot                                             float64
label                                               int64
dtype: object

In [13]:
df = df.rename(columns = {"Sports equipment": "Sports_equipment",
                          "Pernah khawatir /pernah tidak makan":"Pernah_khawatir/pernah_tidak_makan",
                          "Pengeluaran pangan > 70% pengeluaran": "Pengeluaran_pangan>70%_pengeluaran",
                          "Ada pengeluaran pakaian dalam setahun":"Ada_pengeluaran_pakaian_dalam_setahun",
                          "Sebagian besar berlantai tanah":"Sebagian_besar_berlantai_tanah",
                          "Sebagian besar berdinding bambu / kawat / kayu":"Sebagian_besar_berdinding_bambu/kawat/kayu",
                          "Memiliki jamban sendiri":"Memiliki_jamban_sendiri",
                          "Penerangan dari listrik 450VA / bukan listrik":"Penerangan_dari_listrik_450VA/bukan_listrik"})

In [14]:
df.dtypes

image_name                                      object
Building                                         int64
Clothing                                         int64
Door                                             int64
Dress                                            int64
Footwear                                         int64
Furniture                                        int64
Land vehicle                                     int64
Plant                                            int64
Sports_equipment                                 int64
Tree                                             int64
Vehicle                                          int64
Wheel                                            int64
Window                                           int64
Pernah_khawatir/pernah_tidak_makan               int64
Pengeluaran_pangan>70%_pengeluaran               int64
Ada_pengeluaran_pakaian_dalam_setahun            int64
Sebagian_besar_berlantai_tanah                  object
Sebagian_besar_berdinding_bambu/kawat/kayu      object
Memiliki_jamban_sendiri                         object
Penerangan_dari_listrik_450VA/bukan_listrik     object
bobot                                          float64
label                                            int64
dtype: object

In [15]:
df = df.drop(df[df['Sebagian_besar_berlantai_tanah'] == '-'].index)

In [16]:
df['Sebagian_besar_berlantai_tanah'] = df['Sebagian_besar_berlantai_tanah'].astype(int)
df['Sebagian_besar_berdinding_bambu/kawat/kayu'] = df['Sebagian_besar_berdinding_bambu/kawat/kayu'].astype(int)
df['Memiliki_jamban_sendiri'] = df['Memiliki_jamban_sendiri'].astype(int)
df['Penerangan_dari_listrik_450VA/bukan_listrik'] = df['Penerangan_dari_listrik_450VA/bukan_listrik'].astype(int)

In [17]:
df

,image_name,Building,Clothing,Door,Dress,Footwear,Furniture,Land vehicle,Plant,Sports_equipment,...,Window,Pernah_khawatir/pernah_tidak_makan,Pengeluaran_pangan>70%_pengeluaran,Ada_pengeluaran_pakaian_dalam_setahun,Sebagian_besar_berlantai_tanah,Sebagian_besar_berdinding_bambu/kawat/kayu,Memiliki_jamban_sendiri,Penerangan_dari_listrik_450VA/bukan_listrik,bobot,label
0,1.jpg,1,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,0.017083,1
1,2.jpg,1,0,0,0,0,0,0,0,0,...,0,1,1,1,1,1,1,0,0.034165,1
2,3.jpg,1,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,1,0,0.034165,1
3,4.jpg,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,0.011742,1
4,5.jpg,1,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,1,0,0.034165,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5395,2696.jpg,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0.000000,0
5396,2697.jpg,0,0,1,0,0,0,0,0,0,...,0,1,1,1,1,1,0,0,0.155799,0
5397,2698.jpg,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0.003502,0
5398,2699.jpg,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0.044896,0
5399,2700.jpg,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0.000000,0

In [18]:
df.isnull().sum()

image_name                                     0
Building                                       0
Clothing                                       0
Door                                           0
Dress                                          0
Footwear                                       0
Furniture                                      0
Land vehicle                                   0
Plant                                          0
Sports_equipment                               0
Tree                                           0
Vehicle                                        0
Wheel                                          0
Window                                         0
Pernah_khawatir/pernah_tidak_makan             0
Pengeluaran_pangan>70%_pengeluaran             0
Ada_pengeluaran_pakaian_dalam_setahun          0
Sebagian_besar_berlantai_tanah                 0
Sebagian_besar_berdinding_bambu/kawat/kayu     0
Memiliki_jamban_sendiri                        0
Penerangan_dari_listrik_450VA/bukan_listrik    0
bobot                                          0
label                                          0
dtype: int64

In [19]:
features = ['Building', 'Clothing', 'Door', 'Dress', 'Footwear', 'Furniture', 'Land vehicle', 'Plant', 'Sports_equipment', 'Tree', 'Vehicle', 'Wheel', 'Window', 'Pernah_khawatir/pernah_tidak_makan', 'Pengeluaran_pangan>70%_pengeluaran', 'Ada_pengeluaran_pakaian_dalam_setahun', 'Sebagian_besar_berlantai_tanah', 'Sebagian_besar_berdinding_bambu/kawat/kayu', 'Memiliki_jamban_sendiri', 'Penerangan_dari_listrik_450VA/bukan_listrik', 'label']

In [20]:
df = df[features]

In [21]:
df.head(10)

,Building,Clothing,Door,Dress,Footwear,Furniture,Land vehicle,Plant,Sports_equipment,Tree,...,Wheel,Window,Pernah_khawatir/pernah_tidak_makan,Pengeluaran_pangan>70%_pengeluaran,Ada_pengeluaran_pakaian_dalam_setahun,Sebagian_besar_berlantai_tanah,Sebagian_besar_berdinding_bambu/kawat/kayu,Memiliki_jamban_sendiri,Penerangan_dari_listrik_450VA/bukan_listrik,label
0,1,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,0,1
2,1,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,1,1,0,1
3,1,1,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,1,0,0,1
4,1,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,1
5,1,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,0,1,1,0,1
6,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,1
7,1,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,0,0,0,1
8,0,1,0,1,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1
9,0,1,0,0,0,0,0,0,0,0,...,0,0,1,1,1,0,0,1,0,1

In [22]:
X = df[['Building', 'Clothing', 'Door', 'Dress', 'Footwear', 'Furniture', 'Land vehicle', 'Plant', 'Sports_equipment', 'Tree', 'Vehicle', 'Wheel', 'Window', 'Pernah_khawatir/pernah_tidak_makan', 'Pengeluaran_pangan>70%_pengeluaran', 'Ada_pengeluaran_pakaian_dalam_setahun', 'Sebagian_besar_berlantai_tanah', 'Sebagian_besar_berdinding_bambu/kawat/kayu', 'Memiliki_jamban_sendiri', 'Penerangan_dari_listrik_450VA/bukan_listrik']].values
X[0:10]

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0],
       [1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0],
       [0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0]],
      dtype=int64)

In [23]:
y = df[['label']].values
y[0:10]

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1]], dtype=int64)

In [25]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0,test_size=0.2)

In [26]:
from sklearn.metrics import classification_report, confusion_matrix
import itertools

from sklearn import metrics
from sklearn.metrics import f1_score
from sklearn.metrics import jaccard_score

from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier

# from imblearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline

from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

# CNN

In [27]:
import tensorflow as tf

from tensorflow.keras import datasets, layers, models
import matplotlib.pyplot as plt

In [37]:
model = models.Sequential()
model.add(layers.Conv2D(32, (3, 3), activation='relu', input_shape=(, 20)))
model.add(layers.MaxPooling2D((2, 2)))
model.add(layers.Conv2D(64, (3, 3), activation='relu'))
model.add(layers.MaxPooling2D((2, 2)))
model.add(layers.Conv2D(64, (3, 3), activation='relu'))

SyntaxError: invalid syntax (3036372432.py, line 2)

In [ ]:
model.add(layers.Flatten())
model.add(layers.Dense(64, activation='relu'))
model.add(layers.Dense(1, activation='sigmoid'))

In [ ]:
model.summary()

In [ ]:
model.compile(optimizer='adam',
              loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
              metrics=['accuracy'])

history = model.fit(X_train, y_train, epochs=10, 
                    validation_data=(X_test, y_test))